.DS_Store
dist
release
node_modules
.drizzle
out
*.vite.config.*.mjs
electron.vite.config.*.mjs
*.gen.ts
*.db
insculpo_db
insculpo_db-*
insculpo_db-mrview-*-/*.*
insculpo_db--*
insculpo_db_*
insculpo_db__*