@font-face{
  font-family:Axiforma;
  src:url("../assets/fonts/Kastelov  Axiforma Bold.otf");
}

@font-face{
  font-family:Axiforma;
  src:url("../assets/fonts/Kastelov  Axiforma Light.otf");
}

@font-face{
  font-family:Axiforma;
  src:url("../assets/fonts/Kastelov  Axiforma Medium.otf");
}

@font-face{
  font-family:Axiforma;
  src:url("../assets/fonts/Kastelov  Axiforma Regular.otf");
}

.radix-themes {
  --default-font-family: Axiforma ;
  --heading-font-family: Axiforma; 
  --code-font-family:  Axiforma;
  --strong-font-family: Axiforma;
  --em-font-family:   Axiforma;
  --quote-font-family: Axiforma;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Axiforma;
  text-decoration: none;

}

body {
   -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#drag-region {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  cursor: grab;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

button{
  appearance:none;
  border:none;
  background:none;
  outline:none;
}
