@font-face {
  font-family: Nunito;
  src: url("../assets/fonts/Nunito-Italic-VariableFont_wght.ttf");
}
@font-face {
  font-family: Nunito;
  src: url("../assets/fonts/Nunito-VariableFont_wght.ttf");
}

.radix-themes {
  --default-font-family: Nunito 
  --heading-font-family: Nunito 
  --code-font-family:  Nunito
  --strong-font-family: Nunito
  --em-font-family:   Nunito
  --quote-font-family: Nunito
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito;
  text-decoration: none;
}

body {
   -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#drag-region {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  cursor: grab;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}