@font-face {
  font-family: Recursive;
  src: url("../assets/fonts/RecMonoCasual-Bold-1.085.ttf");
}

@font-face {
  font-family: Recursive;
  src: url("../assets/fonts/RecMonoCasual-BoldItalic-1.085.ttf");
}

@font-face {
  font-family: Recursive;
  src: url("../assets/fonts/RecMonoCasual-Italic-1.085.ttf");
}

@font-face {
  font-family: Recursive;
  src: url("../assets/fonts/RecMonoCasual-Regular-1.085.ttf");
}

.radix-themes {
  --default-font-family: Recursive ;
  --heading-font-family: Recursive; 
  --code-font-family:  Recursive;
  --strong-font-family: Recursive;
  --em-font-family:   Recursive;
  --quote-font-family: Recursivw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Recursive;
  text-decoration: none;
}

body {
   -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}

#drag-region {
  user-select: none;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  cursor: grab;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

button{
  appearance:none;
  border:none;
  background:none;
  outline:none;
}
